<section class="about">
  <h2>About Me</h2>
  <p>
    I live in Hamtramck, Michigan. It's a small enclave city in Detroit. I grew
    up in nearby Royal Oak, but have lived here for most of my life.
  </p>
  <p>
    I enjoy travel of all sorts, from camping and hiking to Airbnb and art
    museums. I also enjoy patronizing independent coffee shops and bookstores.
  </p>
  <p>
    I enjoy cooking and baking, and I am a pescatarian. Cooking for others has
    always been a passion of mine. I used to host a pop-up brunch at bars in
    Detroit where I would create the menus and marketing, then prepare and serve
    the food.
  </p>
  <p>
    While completing an entrepreneurial business course, I felt a desire to
    create an interactive business plan. This motivated me to start researching
    and learning on my own, then apply to Grand Circus Front-End Bootcamp to
    dive all the way in.
  </p>
  <p>
    My experience in bookstores has taught me about working with a wide variety
    of people who are focused on a broad range of topics, which I believe
    connects easily to working with teams and clients to accomplish a broad
    range of challenges. My goal is to use the technical skills gained at Grand
    Circus to create useful, accessible, and responsively designed tools as a
    junior developer.
  </p>
  <p>
    This is my first published draft of a perosnal site. I am using Angular
    Material for the main navigation. Since completing boot camp, I have been
    spending my time diving deeper into Angular, as well as starting to learn
    React. This site will soon be updated as a Jamstack site.
  </p>
</section>
