<section class="projects main">
  <h2>Group Projects from Grand Circus</h2>
  <p>
    The final capstone project is an Angular App. Inspired by the pandemic, our
    three-person team worked together to create an app that allows the user to
    travel the world from the comfort of their own home. Elsewhere uses several
    APIs to provide local weather, beautiful images, recipes to cook, books to
    read about or set in the destination, and a Spotify playlist to accompany.
    <a href="https://elsewhere.surge.sh/" target="_blank"
      >Link to Elsewhere <i class="fas fa-globe-americas"></i
    ></a>
  </p>
  <p>
    The second group project was our first Angular project. I worked on a two
    person team to create the Brunchify app. Brunchify uses the Edamam API to
    find brunch recipes from their database. You can save favorite recipes and
    send them via email.
    <a href="https://github.com/wilsonmike/brunchify" target="_blank"
      >Link to Brunchify <i class="fab fa-github-square"></i
    ></a>
  </p>
  <p>
    Our first project was to create an online store (we chose to make a wine and
    beer shop because pandemic). It is a simple, single page responsively
    designed shop featuring recipes. You can add items to the cart and check out
    with card or cash (and get some change back!).
    <a
      href="https://github.com/alanamarielle/javascript-project"
      target="_blank"
      >Link to Not Your Mama's Cocktail Cart <i class="fab fa-github-square"></i
    ></a>
  </p>
</section>
