<section class="projects main">
  <h2>Personal Projects</h2>
  <p>
    My inisital desire to get started in web development was an entrepreneurial
    business course I took in early 2020. I have always wanted to own a coffee
    shop, and the final assignment of the course was a business plan. I wanted
    to make an interactive business plan, as a more interesting way of sharing
    ideas with potential investors.
  </p>
</section>
<div class="image-container">
  <a
    href="https://lh3.googleusercontent.com/qBpQ_STSAwiP3c81JkB7XF324UEEQ_4UEV94KrOkAOgGKMbP8XkEMo9zTrOBiuwE_QuH7MWXKstG_vSGVODQQppOftQNoDDZ8pioQQ9iFds7NgMDZJYtSsev3ksoMRfqCTl9rKAWKQ=w2400?source=screenshot.guru"
  >
    <img
      alt="screen shot of a business plan for a coffee shop"
      src="https://lh3.googleusercontent.com/qBpQ_STSAwiP3c81JkB7XF324UEEQ_4UEV94KrOkAOgGKMbP8XkEMo9zTrOBiuwE_QuH7MWXKstG_vSGVODQQppOftQNoDDZ8pioQQ9iFds7NgMDZJYtSsev3ksoMRfqCTl9rKAWKQ=w2400"
    />
  </a>
  <a
    href="https://lh3.googleusercontent.com/OtpAj-DS3m1oHChU-RrWW9zn0SaRX7b1tG6GOXEKiuV5HERW5aE19U8cExeeP8tbkWbxJVSsG0x6oiGWNrTDqrhyKcAGgRJ8FCw_0XRhSL_bMSD41jyYXNPnASOZ4RvcFrMAc9W4mg=w2400?source=screenshot.guru"
  >
    <img
      alt="screen shot content coffee mobile navigation"
      src="https://lh3.googleusercontent.com/OtpAj-DS3m1oHChU-RrWW9zn0SaRX7b1tG6GOXEKiuV5HERW5aE19U8cExeeP8tbkWbxJVSsG0x6oiGWNrTDqrhyKcAGgRJ8FCw_0XRhSL_bMSD41jyYXNPnASOZ4RvcFrMAc9W4mg=w2400"
    />
  </a>
  <a
    href="https://lh3.googleusercontent.com/2BjoUBxulJDa7r3Ql_qGKmWVJ86Gi8m-Chsoa2n8cz24w5njXbP86IKFMx2hy4HVJBCpSb2131xVnLdumsNc3ORpJaVletQhqRXY1rBcj3tkeB738w-60qKkwjMAC8gaoymtXSCNdg=w2400?source=screenshot.guru"
  >
    <img
      alt="screen shot content coffee food and drink menu"
      src="https://lh3.googleusercontent.com/2BjoUBxulJDa7r3Ql_qGKmWVJ86Gi8m-Chsoa2n8cz24w5njXbP86IKFMx2hy4HVJBCpSb2131xVnLdumsNc3ORpJaVletQhqRXY1rBcj3tkeB738w-60qKkwjMAC8gaoymtXSCNdg=w2400"
    />
  </a>
</div>
<section class="projects main">
  <h2>Group Projects from Grand Circus</h2>
  <p>
    The final capstone project is an Angular App. Inspired by the pandemic, our
    three-person team worked together to create an app that allows the user to
    travel the world from the comfort of their own home. Elsewhere uses several
    APIs to provide local weather, beautiful images, recipes to cook, books to
    read about or set in the destination, and a Spotify playlist to accompany.
    <a href="https://elsewhere.surge.sh/" target="_blank"
      >Link to Elsewhere <i class="fas fa-globe-americas"></i
    ></a>
  </p>
  <p>
    The second group project was our first Angular project. I worked on a two
    person team to create the Brunchify app. Brunchify uses the Edamam API to
    find brunch recipes from their database. You can save favorite recipes and
    send them via email.
    <a href="https://github.com/wilsonmike/brunchify" target="_blank"
      >Link to Brunchify <i class="fab fa-github-square"></i
    ></a>
  </p>
  <p>
    Our first project was to create an online store (we chose to make a wine and
    beer shop because pandemic). It is a simple, single page responsively
    designed shop featuring recipes. You can add items to the cart and check out
    with card or cash (and get some change back!).
    <a
      href="https://github.com/alanamarielle/javascript-project"
      target="_blank"
      >Link to Not Your Mama's Cocktail Cart <i class="fab fa-github-square"></i
    ></a>
  </p>
</section>
