<div class="container">
  <section class="skills">
    <div>
      <h2>Technical Skills</h2>
      <ul>
        <li>HTML/HTML5</li>
        <li>CSS/CSS3</li>
        <li>Typescript</li>
        <li>Javascript</li>
        <li>Angular</li>
        <li>Node.js</li>
        <li>Git/GitHub</li>
        <li>SQL/Postgres</li>
        <li>Web APIs</li>
        <li>Agile Development</li>
        <li>UI/UX Wireframing</li>
        <li>TDD</li>
      </ul>
    </div>
    <div>
      <h2>Soft Skills</h2>
      <ul>
        <li>Communication</li>
        <li>Customer Service</li>
        <li>Collaboration</li>
      </ul>
    </div>
  </section>
  <section class="training">
    <h2>Training</h2>
    <div>
      <h3>Grand Circus, Front End Development</h3>
      <h3>2020 - 2020</h3>
      <p>
        Intensive boot camp to build knowledge in front-end experiences with
        HTML, CSS, Javascript, and Angular.
      </p>
    </div>
    <div>
      <h3>Oakland Community College, AA in progress</h3>
      <h3>2016-2020</h3>
      <p>Coursework in Business, English, Philosophy, Nutrition.</p>
    </div>
  </section>
</div>
