<section class="home">
  <div>
    <h1>Hello, world!</h1>
    <h2>My name is Alana Frank.</h2>
    <h3>I am a front-end developer.</h3>
    <h4>I am looking for a job!</h4>
  </div>
  <img
    class="alana-img"
    src="https://lh3.googleusercontent.com/bIuBRPmxQ2VArnvwizF_PmIVxHCTwCVSV8uBz6jikQ4fZdEk7q-pJfudLU-mwg4EUCh2hSXxwrOE_n7c2PJBZl5iWOnin-oAMeHdj7ZeISz0w08J8JbIoGo8_66NEoXp05xKVtQsscvNOyoAzX4uh69QRDdL6qcjOz8Olp_GAOgd-aDw1y96bmqoILOWfeOjrKgleMvPSWFT6WOhHH4bC2UAwtz0Js6rZjJ3a6lrb7rMCc8HgU9ySABNF6cgvvHja3ITpG7tIYrVsa-Uz5efeVLBOAud1IiY4CJqGx_BrCNUsOkQQgCMqhWKgzDdZJc1EBCQZPxd4BFbNsuw1Kl-imD8PCatL_oPuMZYB5UUmEbRPTiS5M9gUhYKOuKP9Epyqa9FKoLkJbLSsd2aJS9tDEADpTdnFNL2YPYSpwlkD25edKGZHg8C_4fft-nt2WcFCWVb9zLGvoCzvPUGezMlRbHUX4XmstmoBpsXhwona1dcsXSVazHbxn9yuMokDO3i8UA7y0Gxw8K83u3tMFEqyfCB7bpdjOT7qZmWEFfZrmfvMJsXn5tyUwcLoNxlcLtvnyz3wGBwKHhIbbt2zDUv3CLyRYDCeATF99Fl9__wDjmhdQpB5d_yVUvgRLzxS3euwSyscRyYbetrlH7w7Klu7846Chc87nz0MKoRE7tYLmJL8JYGUwFupJecmWGwnA=s741-no?authuser=0"
    alt=""
  />
</section>
